* {
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}

.tudo{
    background-color: rgb(25, 218, 151);
    border: solid 10px;
    border-radius: 20px;
    width: 521px;
}
.inicio {
   font-size: xx-large;
   border: solid 5px;
   border-radius: 20px;
    color: black;
    padding: 5px;
    width: 500px;
    background-color:darkgrey;
}

.h2{
    border: solid 5px;
   border-radius: 20px;
    color: black;
    padding: 5px;
    width: 500px;
    background-color:darkgrey ;
}
.resto {
    border: solid 5px;
    border-radius: 20px;
     color: rgb(0, 0, 0);
     padding: 5px;
     width: 500px;
     background-color: darkgray;
}

.cardapio{
    border: solid 5px;
   border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
    width: 500px;
    background-color: darkgrey;
}

.butao {
    border:solid 5px;
    border-radius: solid 5px;
    width: 100px;
  
}

.img{
    border:solid 10px;
    width: 500px;
}